In [1]:
import numpy as np
import pandas as pd

# **Trying to fetch historical data from yahoo finance**

In [2]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22409 sha256=b329355525de7f8fbeca6ddc2c2ccde8a3856304cf2a85e40622eab108362c97
  Stored in directory: /root/.cache/pip/wheels/f9/e3/5b/ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
Successfully built yfinance
Installing collected packages: yfinance
Successfully installed yfinance-0.1.54

In [3]:
import yfinance as yf

In [4]:
print(yf)

<module 'yfinance' from '/usr/local/lib/python3.6/dist-packages/yfinance/__init__.py'>

In [6]:
msft = yf.Ticker("MSFT")

In [37]:
hist = msft.history(period="max")
hist

              Open    High     Low   Close      Volume  Dividends  Stock Splits
Date
1986-03-13    0.06    0.06    0.06    0.06  1031788800        0.0           0.0
1986-03-14    0.06    0.07    0.06    0.06   308160000        0.0           0.0
1986-03-17    0.06    0.07    0.06    0.07   133171200        0.0           0.0
1986-03-18    0.07    0.07    0.06    0.06    67766400        0.0           0.0
1986-03-19    0.06    0.06    0.06    0.06    47894400        0.0           0.0
...            ...     ...     ...     ...         ...        ...           ...
2020-08-25  213.10  216.61  213.10  216.47    23043700        0.0           0.0
2020-08-26  217.88  222.09  217.36  221.15    39600800        0.0           0.0
2020-08-27  222.89  231.15  219.40  226.58    57602200        0.0           0.0
2020-08-28  228.18  230.64  226.58  228.91    26264700        0.0           0.0
2020-08-31  227.00  228.70  226.50  226.76     6211819        0.0           0.0

[8689 rows x 7 columns]

In [12]:
hist.shape

(8688, 7)

In [15]:
tickers = yf.Tickers('msft aapl goog')

In [17]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [35]:
spy = yf.Ticker("SPY")
d = spy.history(period = "max")

In [36]:
d

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
1993-01-29   26.20   26.20   26.07   26.18   1003200        0.0             0
1993-02-01   26.20   26.37   26.20   26.37    480500        0.0             0
1993-02-02   26.35   26.44   26.30   26.43    201300        0.0             0
1993-02-03   26.46   26.72   26.44   26.71    529400        0.0             0
1993-02-04   26.80   26.87   26.50   26.82    531500        0.0             0
...            ...     ...     ...     ...       ...        ...           ...
2020-08-25  343.53  344.21  342.27  344.12  38463400        0.0             0
2020-08-26  344.76  347.86  344.17  347.57  50790200        0.0             0
2020-08-27  348.51  349.90  346.53  348.33  58034100        0.0             0
2020-08-28  349.44  350.72  348.15  350.58  48506300        0.0             0
2020-08-31  350.35  350.67  349.87  350.22   6757060        0.0             0

[6948 rows x 7 columns]

In [32]:
goog = yf.Tickers("GOOG")
df3 = goog.history(period = "max")

[*********************100%***********************]  1 of 1 completed

KeyError: ignored

In [38]:
aapl = yf.Ticker("AAPL")
df2 = aapl.history(period = "max")

In [39]:
df2

              Open    High     Low  ...       Volume  Dividends  Stock Splits
Date                                ...
1980-12-12    0.10    0.10    0.10  ...  469033600.0        0.0           0.0
1980-12-15    0.10    0.10    0.10  ...  175884800.0        0.0           0.0
1980-12-16    0.09    0.09    0.09  ...  105728000.0        0.0           0.0
1980-12-17    0.09    0.09    0.09  ...   86441600.0        0.0           0.0
1980-12-18    0.09    0.09    0.09  ...   73449600.0        0.0           0.0
...            ...     ...     ...  ...          ...        ...           ...
2020-08-26  126.18  126.99  125.08  ...  163022400.0        0.0           0.0
2020-08-27  127.14  127.49  123.83  ...  155552400.0        0.0           0.0
2020-08-28  126.01  126.44  124.58  ...  187151600.0        0.0           0.0
2020-08-31     NaN     NaN     NaN  ...          NaN        0.0           4.0
2020-08-31  127.58  128.73  126.00  ...   56158884.0        0.0           0.0

[10015 rows x 7 columns]